@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RDLC</h1>
    <a class="btn btn-secondary" href="@Url.Action("Print", "Home")">PRINT REPORT</a>
    <a class="btn btn-secondary" href="@Url.Action("PrintTwo", "Home")">PRINT REPORT TWO</a>

    
</div>
